.header_top {
    height: 40px;
    background-color: $white;
    border-bottom: 1px solid $border-2;
    .headerTop_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
    
     .headerTop_left{
        font-size: 14px;
        color: $black;
        font-weight: 500;
        border-right: 2px solid $border-2;
        padding-right: 12px;
     }
     .headerTop_right{
         display: flex;
         align-items: center;
          .text_1{
            font-size: 14px;
            color: $primaryColor;
            font-weight: 500;
            border-right: 2px solid $border-2;
            padding-right: 12px;
          }
          .text_2{
            font-size: 14px;
            color: $black;
            font-weight: 500;
            padding-left: 12px;
          }
      }
    }
}
.header_menu {
    padding: 10px 0;
    background-color: $white;
    transition: all linear .4s;
    animation:slide-down 0.7s;
    box-shadow: 0 0 2px rgba(0,0,0,.1);  
    .manu_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            height: 60px;
            width: auto;
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
        .nav_list{ 
             li{
                 padding: 0 8px;
                 cursor: pointer;
                 position: relative;
                 display: inline-block;
                 &:hover a{
                    width: 100%;
                 }
                 &:hover .sub_down{
                     top: 41px;
                     opacity: 1;
                     margin-top: 0;
                     visibility: visible;
                     padding: 10px 10px 10px 10px;
                 } 
                 a{
                     font-size: 22px;
                     color: $black;
                     font-weight: 600;
                     span{
                         padding-right: 10px;
                         font-size: 18px;
                     } 
                     .droppper{
                         font-size: 16px;
                     }
                     
                 }
                 .sub_down{
                     background-color: $white;
                     border-radius: 10px;
                     padding: 10px 10px 10px 10px;
                     box-shadow: 1px 1.732px 20px 0px rgba(0,0,0,0.3);   
                     -webkit-transition: all 0.3s ease-in-out;
                     transition: all 0.3s ease-in-out;
                     position: absolute;
                     visibility: hidden;
                     display: block;
                     width: 200px;
                     border: none !important;
                     opacity: 0;
                     top: 43px;
                     right: 0;
                     padding: 0;  
                     z-index: 10;
                   li{
                        padding: 5px 10px;
                        width: 100%;
                        &:hover{
                            background-color: #dad6d6;
                            width: 100%;
                        } 
                       a{
                         font-size: 15px;
                         color: $black;
                         font-weight: 400;
                       }
                   }
              }
             }
         }
    }
}

.HeaderSticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all linear .4s;
    animation:slide-down 0.9s;
    animation:slide-up 0.7s;
    padding: 5px 0;
    .manu_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            height: 50px;
            width: auto;
            img{
                max-height: 100%;
                max-width: 100%;
            }
        }
        .nav{
            a{
                font-size: 19px; 
                color: $black; 
                font-weight: 700;
                padding-right: 30px;
            }
        }
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(1rem);
      }
      100% {
        opacity: 1;
        transform: none;
      }
}
@keyframes slide-up {
    0%{
        transform: translateY(-120px);
      }
      100% {
        transform: none;
      }
}